* {
  background: #f8f8f8f8;
}

.App {
  text-align: center;
  background: #f8f8f8f8;
  height: auto;
  width: 90vh;
  margin: 2em auto;
  border: 2px solid #d19320;
  border-radius: 10px;
}


heading form {
  background: #d19320;
}

input {
  height: 1.5em;
  width: 300px;
  padding: 1em;
  border-radius: 10px;
}

button {
  height: auto;
  width: auto;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
}

#articleList {
  padding: 1em;
  border-radius: 10px;
  border: 2px solid black;
  margin: 1em;
}

h2 {
  color: #2e2e2e
}

h3 {
  color: #5e5d5d;
}

a {
  color: #d19320;
}